.show__password {
    padding: $input-padding-y 0;
    padding-left: 2px;
    width: 26px;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}

input, textarea {
    &.o_password_eye {
        padding-right: 25px;
    }
}

input, textarea {
    &.o_field_translate {
        &.o_password_eye {
            padding-right: 60px;
        }
    }
}


span.field_readonly {
    width: 100%;
    display: inline-block;
    &.o_password_eye {
        padding-right: 25px;
    }
}

.o_field_translate {
    &.o_field_translate_with_button_password_eye {
        margin-left: -70px !important;
        margin-right: 35px;
    }
}

.o_list_view {
    .o_field_translate {
        &.btn {
            margin-left: -35px;
            &.o_field_translate_with_button_password_eye {
                margin-left: -75px !important;
                vertical-align: middle !important;
            }
        }
    }
}
